:root {
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --white-text-color: #FFFFFF;
    --accent-text-color: #2196F3;
    --primary-bg-color: #FFFFFF;
}

body {
    background-color: #ffffff;
    color: #212121;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Основний колір тексту #212121; */
/* Другорядний колір тексту #757575; */
/* Білий колір тексту #FFFFFF; */
/* Акцентований колір тексту #2196F3; */

/* Хедер фон #FFFFFF; */
/* Герой фон #2F303A; */
/* Чим ми займаємся фон #E5E5E5; */
/* Наша команда фон #F5F4FA; */
/* Футер фон #2F303A; */



/* header */

header {
    color: #212121;
}

header:hover,
header:focus {
    color: #2196F3;
}






/* header logo */
.logo {
    color: var(--accent-text-color);
}

.logo:hover, 
.logo:focus {
    color: #212121;
}

.logo-second {
    color: #212121;
}






/* header - site-nav */
.site-nav-studio {
color: var(--accent-text-color);
}

.site-nav-studio:hover,
.site-nav-studio:focus {
color: var(--primary-text-color); 
}



.site-nav-portfolio {
color: var(--primary-text-color);
}

.site-nav-portfolio:hover,
.site-nav-portfolio:focus {
color: var(--primary-text-color); 
}



.site-nav-contacts{
color: var(--primary-text-color);
}

.site-nav-contacts:hover,
.site-nav-contacts:focus {
color: var(--primary-text-color); 
}








/* Main */
/* Секція 1. Герой */

.hero {
background-color: #2F303A; 
}

.hero-title {
color: var(--white-text-color);
}

.hero-button {
color: var(--white-text-color);
background-color: #2196F3;
}





/* Секція 2. Переваги */

.benefits {

}

.benefits-title {
color: var(--primary-text-color);
}

.benefits-text {
color: var(--second-text-color);
}





/* Секція 3. Чим ми займаємся */

.section-title {
color: var(--primary-text-color);
}

.section {

}

.section-list {

}

.section-img {

}





/* Секція 4. Наша команда */

.section {
    background-color: #F5F4FA;
}

.team-title {
color: var(--primary-text-color);
}

.team-list {
}

.team-foto {
}

.team-name {
color: var(--primary-text-color);
}

.team-text {
color: var(--second-text-color);
}




/* Футер */

footer {
    color: var(--primary-text-color);
    background-color: #2F303A;
}

footer:hover,
footer:focus {
    color: var(--accent-text-color);
}

.logo {
color: ;
}

.logo2 {
color: ;
}

.footer-address {
color: ;
}

.footer-mail {
color: ;
}

.footer-tel {
color: ;
}