:root {
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --white-text-color: #FFFFFF;
    --accent-text-color: #2196F3;
    --primary-bg-color: #FFFFFF;
    --footer-bg-color: #2F303A;
    --header-bg-color: #FFFFFF;
}

/* Основний колір тексту #212121; */
/* Другорядний колір тексту #757575; */
/* Білий колір тексту #FFFFFF; */
/* Акцентований колір тексту #2196F3; */

/* Хедер фон #FFFFFF; */
/* Герой фон #2F303A; */
/* Футер фон #2F303A; */
/* Чим ми займаємся фон #E5E5E5; */
/* Наша команда фон #F5F4FA; */


body {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}





/*----------HEADER----------------------*/

header {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}

.header-logo {
    color: var(--accent-text-color);
}

.header-second-logo {
    color: var(--primary-text-color);
}

.header-nav {

}

.header-list {

} 

.header-item {

}

.header-link {
    color: var(--primary-text-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--white-text-color);
    background-color: var(--accent-text-color)
}

.header-second-list {

}

.header-second-item {

}

.header-mail {
    color: var(--second-text-color);
}

.header-mail:hover,
.header-mail:focus {
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
}

.header-tel {
    color: var(--second-text-color);
}

.header-tel:hover,
.header-tel:focus {
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
}





/*-----------MAIN-----------------------*/
/*-------Секція 1. Герой----------------*/
/*-------Портфоліо кнопки---------------*/

.hero-section {
background-color: var(--footer-bg-color);
}

.hero-title {
    color: var(--white-text-color);
}

.hero-button {
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
}

.hero-button:hover,
.hero-button:focus {
    color: var(--white-text-color);
    background-color: #188CE8;
}





/*-------Секція 2. Переваги-------------*/
.benefits-section {
background-color: #E5E5E5;
}

.benefits-list {

}

.benefits-item {

}

.benefits-title {
    color: var(--primary-text-color);
}

.benefits-text {
    color: var(--second-text-color);
}





/*------------Чим ми займаємся-----------*/
.work-title {
    color: var(--primary-text-color);
}

.work-list {

}

.work-item {

}

.work-link {

}

.work-img {

}





/*-----------Секція 3. Наша команда-------*/
.team-section {
    background-color: #F5F4FA;

}

.team-title {
    color: var(--primary-text-color);
}

.team-list {

}

.team-item {

}

.team-foto {

}

.team-name {
    color: var(--primary-text-color);
}

.team-text {
color: var(--second-text-color);
}




/*----------------MAIN PORTFOLIO-------------------*/
/*----------------Портфоліо кнопки-----------------*/
.main {

}

.main-list {

}

.main-item {

}

.main-button {
    color: var(--primary-text-color);
    background-color: #F5F4FA;
}

.main-button:hover,
.main-button:focus {
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
}




/*----------------Список картинок-------------------*/
.main-second-list {

}

.main-second-item {

}

.main-img {

}

.main-title {
    color: var(--primary-text-color);
}

.main-span {
    color: var(--primary-text-color);
}

.main-text {
    color: var(--second-text-color);
}




/*----------------FOOTER-------------------*/
.footer {
    color: ;
    background-color: #2F303A;
}

.footer-logo {
    color: var(--accent-text-color);
}

.footer-second-logo {
    color: var(--white-text-color);
}

.footer-adress {

}

.footer-list {

}

.footer-item {

}

.footer-link-map {
    color: var(--white-text-color);
}

.footer-link-map:hover,
.footer-link-map:focus {
    color: var(--white-text-color);
    background-color: var(--accent-text-color)
}

.footer-link-mail {
    color: var(--second-text-color);
}

.footer-link-mail:hover,
.footer-link-mail:focus {
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
}

.footer-link-tel {
    color: var(--second-text-color);
}

.footer-link-tel:hover,
.footer-link-tel:focus {
    color: var(--white-text-color);
    background-color: var(--accent-text-color)
}