:root {
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --white-text-color: #FFFFFF;
    --accent-text-color: #2196F3;
    --primary-bg-color: #FFFFFF;
    --footer-bg-color: #2F303A;
    --header-bg-color: #FFFFFF;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Основний колір тексту #212121; */
/* Другорядний колір тексту #757575; */
/* Білий колір тексту #FFFFFF; */
/* Акцентований колір тексту #2196F3; */

/* Хедер фон #FFFFFF; */
/* Герой фон #2F303A; */
/* Чим ми займаємся фон #E5E5E5; */
/* Наша команда фон #F5F4FA; */
/* Футер фон #2F303A; */



/* header */

header {
    color: #212121;
    background: #F5F4FA;

}

header:hover,
header:focus {
    

}






/* header logo */
.logo {
    color: var(--accent-text-color);
}

.logo:hover, 
.logo:focus {

}

.logo-second {
    color: #212121;
}






/* header  site-nav */
.site-nav-studio {
color: var(--primary-text-color);
}

.site-nav-studio:hover,
.site-nav-studio:focus {
color: var(--white-text-color);
background-color: var(--accent-text-color);
}



.site-nav-portfolio {
color: var(--primary-text-color);
}

.site-nav-portfolio:hover,
.site-nav-portfolio:focus {
color: var(--white-text-color);
background-color: var(--accent-text-color); 
}



.site-nav-contacts{
color: var(--primary-text-color);
}

.site-nav-contacts:hover,
.site-nav-contacts:focus {
color: var(--white-text-color);
background-color: var(--accent-text-color); 
}

.contacts {

}

.contacts-mail {
color: var(--accent-text-color);
}

.contacts-tel {
color: var(--second-text-color);
}



/* Main */
/* Студія. Секція 1. Герой */

.hero {
background-color: #2F303A; 
}

.hero-title {
color: var(--white-text-color);
}

.hero-button {
color: var(--white-text-color);
background-color: var(--accent-text-color);
}



/* Портфоліо кнопки */

.btn-list {
    color: var(--primary-text-color);
    background-color: #F5F4FA;
}

.btn-list:hover,
.btn-list:focus {
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
}




/* Портфоліо картинки */

.portfolio-img {

}

.portfolio-title {
color: var(--primary-text-color);
}

.portfolio-text {
color: var(--second-text-color);
}




/* Студія. Секція 2. Переваги */

.benefits {

}

.benefits-title {
color: var(--primary-text-color);
}

.benefits-text {
color: var(--second-text-color);
}





/* Студія. Секція 3. Чим ми займаємся */

.section-title {
color: var(--primary-text-color);
}

.section {

}

.section-list {

}

.section-img {

}





/* Студія. Секція 4. Наша команда */

.section {
    background-color: #F5F4FA;
}

.team-title {
color: var(--primary-text-color);
}

.team-list {
}

.team-foto {
}

.team-name {
color: var(--primary-text-color);
}

.team-text {
color: var(--second-text-color);
}




/* Футер */

footer {
    color: var(--primary-text-color);
    background-color: var(--footer-bg-color)
}

footer:hover,
footer:focus {

}


/* Футер логотип */

.logo {
color: var(--accent-text-color);
}

.logo-logo {
color: var(--primary-bg-color);
}

/* Футер адреса */

.footer-address {
color: var(--primary-bg-color);
}

/* Футер контакти */

.footer-mail {
color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
color: rgba(255, 255, 255, 0.6);;
}